body{
 margin: 0;
 padding: 0;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color:rgb(3, 3, 15);
 height: 100vh;
 width: 100%;
 color: white;
}

.body{
  display: block;
  margin: 20px auto;
}
.input input{
  background-color: rgb(43, 42, 42);
  color: white;
  outline: none;
  border: none;
}

.all{
  margin-top: 20px;
}
.details{
 background-color: rgba(74, 73, 73, 0.455);
  text-align: center;
  display: block;
  padding: 20px;
}
.city-name {
  font-size: 6vmin;
  font-weight: 600;
  text-transform: capitalize;
}
.temp {
  font-size: 6vmin;
  font-weight: 600;
  text-transform: uppercase;
}
.country{
  font-size: 4vmin;
  color: rgba(255, 255, 255, 0.439);
  margin-top: -10px;
}
.details-2{
  margin-top: 20px;
  background-color: rgba(43, 42, 42, 0.517);
 padding-left: 20px;
 text-align: center;
 
}
.status{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.558);
}
#image{
  height: 150px;
  width: 150px;
  display: block;
  margin:  -15px auto;
}
.details-2 p{
  font-size: 18px;
}
.icon{
  font-size: 8vmin;
}
.all-pr{
  display: block;
  margin: 20px auto;
}

.add-info img{
  height: 40px;
  width: 40px;
}
td {
 
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}


.max{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  font-weight: 700;
}
#icon{
  font-size: 8vmin;
  text-align: center;
}

